/* custom containers */
.gs-container-90 {
  width: 90%;
  margin: 0 auto; 
}

.gs-container-80 {
  width: 80%;
  margin: 0 auto;
}

.gs-container-60 {
  width: 60%;
  margin: 0 auto;
}

/* general class to capityalize words and font weight*/
.capital {
  text-transform: uppercase;
  font-weight: 600;
}

.bolding {
  font-weight: 600;
}

/* header */
.container-fluid{
  padding: 0 !important;
}

.gs-container-98 {
  width: 98%;
  margin: 0 auto;
}

.sony {
  background-color: black;
}

.sony-logo img {
  position: sticky;
  width: 70px;
}

.navbar {
  background-color: white !important;
}

.navbar a {
  color: black !important;
}

.hamburger {
  border: 1px solid black;
}

.hamburger-icon i{
  font-size: 30px;
  font-weight: 600;
}

.sub-link {
  list-style: none;
}

.nav-link.my-ps{
 padding-left: 0 !important;
}

.chevron img{
  flex-wrap: nowrap;
  width: 10px ;
}

.gs-form {
  position: relative;
}

.gs-addon {
  position: absolute;
  left: 10px;
  top: 6px;
}
/* header ends */

/* jumbotron */
.container-fluid.gs-bg-jumbo {
  margin-top: 120px;
  background-image: url('../img/jumbo-bg.png');
  background-position: center;
  background-size: cover;
}

.gs-jumbo {
  color: white;
  padding-top: 80px;
  padding-bottom: 40px;
}

.gs-jumbo-text {
  padding: 32px 0;
}

.gs-image img{
  width: 100%;
}

/* cards after jumbotron */
.cards img{
  width: 100%;
  margin: 8px;
  border-radius: 10px;
}

/* playstation 5 */ 
.title-ps5 {
  padding: 68px 0 100px 0;
}

.gs-image-ps5 img{
  width: 100%;
}

.gs-ps5-more img{
  width: 100%;
}

.gs-ps5-more:hover{
  opacity: 5 !important;
}

.gs-accessori-ps5 {
  padding-top: 48px;
}

/* content area similar to jumbotron */
.container-fluid.gs-bg-middle-content{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-position: center;
  background-size: cover;
}

.gs-mid-content {
  color: white;
  padding-top: 80px;
  padding-bottom: 40px;
}

.gs-mid-cont-text {
  padding: 32px 0;
}

.gs-imag img{
  width: 100%;
}


/* new games */
.gs-bg-new-game {
  background-color: rgb(31,31,31);
  color: white;
}

.new-game {
  /* questa poi andrà tolta */
  margin: 6px;
  padding: 0 !important;
}
/* new games ends */

/* never stop exploring */
.gs-ps4 {
  height: 100px;
  background-color: dodgerblue;

}
/* never stop exploring ends */

/* playstation plus */
.gs-ps-plus {
  background-color: rgb(190,188,187);
}

.gs-psp-img {
  height: 60px; /* questa poi andrà tolta */
  background-color: chocolate;
  margin-bottom: 20px;
}

.gs-psp-image {
  height: 100%; /* quesat poi andrà tolta */
  background-color: chocolate;
}
/* playstation plus ends */

/* discount */
.gs-sales-image {
  height: 200px; /* questa poi andrà tolta */
  background-color: darkgreen;
  margin-top: 4px;
}
/* discount ends */

/* playstation now  */
.gs-ps-now {
  background-color: rgb(22,28,59);
  color: white;
}

.gs-psn-img {
  height: 60px; /* questa poi andrà tolta */
  background-color: chocolate;
  margin-bottom: 20px;
}

.gs-psn-image {
  height: 100%;
  background-color: chocolate;
}
/* playstation now ends */

/* socials */
.gs-social-image {
  height: 100px; /* questa andrà tolta */
  background-color: yellowgreen;
  margin-top: 4px;
}
/* socials ends */

/* media query */
@media (min-width: 400px) {
  a.nav-link.active.gs-nav-button {
    width: 50%;
  }
}

@media (min-width:991px) {
  .col-lg-2.new-game {
    width: 15%;
  }
  a.nav-link.active.gs-nav-button {
    width: 100%;
  }
}

