/* custom containers */
.gs-container-90 {
  width: 90%;
  margin: 0 auto; 
}

.gs-container-80 {
  width: 80%;
  margin: 0 auto;
}

/* header */
.container-fluid{
  padding: 0 !important;
}

.gs-container-98 {
  width: 98%;
  margin: 0 auto;
}

.sony {
  background-color: black;
}

.sony-logo img {
  position: sticky;
  width: 70px;
}

.navbar {
  background-color: white !important;
}

.navbar a {
  color: black !important;
}

.hamburger {
  border: 1px solid black;
}

.hamburger-icon i{
  font-size: 30px;
  font-weight: 600;
}

.sub-link {
  list-style: none;
}

.chevron img{
  flex-wrap: nowrap;
  width: 10px ;
}
/* header ends */

/* jumbotron */
.gs-jumbo {
  height: 800px; /*questa andrà tolta*/
  background-color: brown;
  align-items: end;
  padding-bottom: 60px;
}
.gs-image {
  height: 200px; /*questa andrà tolta*/
  width: 200px; /*questa andrà tolta*/
  background-color: chartreuse;
}
/* jumbotron ends */

/* cards after jumbotron */
.cards {
  height: 100px; /* questa andrà tolta */
  background-color: darkgoldenrod;
  margin: 8px;
}
/* cards end */

/* playstation 5 */ 
.title-ps5 {
  padding: 68px 0;
}

.gs-img-ps5 {
  height: 200px;
  background-color: darkolivegreen;
}

.gs-ps5-more {
  height: 100px; /* questa poi andrà tolta */
  background-color: darkslateblue;
}

.gs-accessori-ps5 {
  padding-top: 48px;
}
/* ps5 ends */

/* new games */
.gs-bg-new-game {
  background-color: rgb(31,31,31);
  color: white;
}

.new-game {
  /* questa poi andrà tolta */
  margin: 6px;
  padding: 0 !important;
}


@media (min-width:991px) {
  .col-lg-2.new-game {
    width: 15%;
  }
}
/* new games ends */

/* never stop exploring */
.gs-ps4 {
  height: 100px;
  background-color: dodgerblue;

}
/* never stop exploring ends */
